@model IEnumerable<MarketplaceWebApplication.Data.OrderStatus>

@{
    ViewData["Title"] = "Статуси";
}

<h1>Статуси замовлень</h1>

<p>
    <a asp-action="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Опис
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Змінити</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

