@model MarketplaceWebApplication.Data.Feedback
@using MarketplaceWebApplication.Data
@using Microsoft.AspNetCore.Http
@using MarketplaceWebApplication.Extensions
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Додати відгук";
    var userInfo = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetails>("UserDetails");
}

<h1>Додати</h1>

<h4>відгук</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Rating" class="control-label">Оцінка</label><br />
                <label>
                    <input type="radio" asp-for="Rating" value=1 /> 1
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value=2 /> 2
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value=3 /> 3
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value=4 /> 4
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value=5 /> 5
                </label>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Text" class="control-label">Текст</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="OfferId" class="form-control" asp-items="ViewBag.OfferId" hidden></select>
            </div>
            <div class="form-group">
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" hidden></select>
            </div>
            <div>
            <!--<div class="form-group">
                <label asp-for="TimeAdded" class="control-label"></label>
                <input asp-for="TimeAdded" class="form-control" />
                <span asp-validation-for="TimeAdded" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" style="margin: 5px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("MainPageView", "Offers") class="btn btn-primary">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
