@model MarketplaceWebApplication.Data.Feedback

@{
    ViewData["Title"] = "Видалити";
}

<div class="text-center">
    <form asp-action="Delete">
        <h3>Видалити відгук?</h3>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.OfferId" class="btn btn-primary">Назад</a>
    </form>
</div>
