@model IEnumerable<MarketplaceWebApplication.Data.Chat>
@using Microsoft.AspNetCore.Http
@using MarketplaceWebApplication.Extensions
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Чати";
    var userInfo = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetails>("UserDetails");
}

@if (userInfo is null)
{
    <h1>Ви поки-що не увійшли до кабінету</h1>
    <a asp-controller="Users" asp-action="Index" asp-route-id="" class="btn btn-primary">Увійти</a>
}
else
{
    <h1>Ваші чати</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Час створення
                </th>
                <th>
                    Назва товару
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeCreated)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Offer.Name)
                    </td>
                    <td>
                        <a asp-controller="Messages" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary" style="margin: 5px;">Продивитися</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" style="margin: 5px;">Видалити</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}