@model MarketplaceWebApplication.Data.Order

@{
    ViewData["Title"] = "Замовити";
}

<h1>Створити</h1>

<h4>замовлення</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CustomerId" class ="form-control" value="@ViewBag.UserId" hidden></input>
            </div>
            <div class="form-group">
                <input asp-for="TransactionId" class="form-control" value=0 hidden/>
            </div>
            <div class="form-group">
                <input asp-for="StatusId" class="form-control" value=1 hidden></input>
            </div>
            <div class="form-group">
                <!--</><label asp-for="DateOfOrder" class="control-label"></label>
                <input asp-for="DateOfOrder" class="form-control" />
                <span asp-validation-for="DateOfOrder" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label for="PaymentMethodId" class="control-label">Метод оплати</label>
                <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodName"></select>
            </div>
            <div class="form-group">
                <label for="Comment" class="control-label">Коментар</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" style="margin: 5px;"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary" style="margin: 5px;">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
